<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>


    <div class="col-lg-8 my-3">
      <h1 class="text-center">Usuarios</h1>
      <p class="text-center lead">Seus Usuarios estão abaixo</p>

      <%- include('includes/messages') %>

      <% if(usuarios.length > 0) { %>
      <div class="responsive-table">
        <table class="table my-3">
          <% usuarios.forEach(usuario => { %>
          <tr>
            <td><%= usuario.email %></td>
            <td><a class="text-danger" href="/usuario/delete/<%= usuario._id %>">Excluir</a></td>
          </tr>
          <% }); %>
        </table>
      </div>
      <% } else { %>
        <p class="text-center lead">Não existem Usuarios cadastrados.</p>
      <% } %>

    </div>

    
    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer') %>
